<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{site.description}}">
  <meta name="theme-color" content="#262728">
  <link rel="manifest" href="/manifest.json">
  {%- seo -%}
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
  <link rel="stylesheet" href="{{site.baseurl}}/style/main.css">

  <script src="{{site.url}}/assets/TweenMax.min.js"></script>

</head>